<html ng-app="App">

<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>CSRF - DSC Log-in</title>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="/public/js/app.js"></script>
    <script src="/public/js/appConfig.js"></script>
    <script src="/public/js/ctrlCheckout.js"></script>
</head>

<body ng-controller="ctrlCheckout">
    <h1>Checkout </h1></br>
    <form ng-submit="submitCheckout()" ng-hide="form_hidden">
        Enter you location : <input type="text" placeholder="enter location here" ng-model="checkout.location">
        <input type="hidden" ng-init="checkout.csrf_token" ng-model="checkout.csrf_token">
        <input type="submit">
    </form>
    <p>{{ message }}</p>
</body>

</html>